---
import { type CollectionEntry, getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import TopLayout from "@layouts/TopLayout.astro";
import BottomLayout from "@layouts/BottomLayout.astro";
import ArticleTopLayout from "@layouts/ArticleTopLayout.astro";
import ArticleBottomLayout from "@layouts/ArticleBottomLayout.astro";

// Create the static blog pages
export async function getStaticPaths() {
    const books = await getCollection("books");
    return books.map((book) => ({
        params: { slug: book.slug },
        props: book,
    }));
}

// Get the requested post
type Props = CollectionEntry<"books">;
const book = Astro.props;
const { title, summary } = book.data;
---

<PageLayout title={title} description={summary}>
    <TopLayout>
        <div class="animate">
            <ArticleTopLayout entry={book} />
        </div>
    </TopLayout>
    <BottomLayout>
        <div class="animate">
            <ArticleBottomLayout entry={book} />
        </div>
    </BottomLayout>
</PageLayout>
